.abkdjs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.abkdjs_wrapper {
    width: 1170px;
    background-color: #fef7e7;
    padding: 28px 0 20px 0;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.icon_text {
    font-size: 24px;
    color: #183b56;
    font-weight: 500;
}

.antidetect {
    width: 100%;
    padding: 21px 37px;
    background-color: #faad13;
}
.antidetect span {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    line-height: 35px;
}

.lkdjfll {
    margin-top: 32px;
    font-size: 30px;
    color: #183b56;
    text-align: center;
    font-family: "Hanken Grotesk";
    font-weight: 700;
}

.list_lsjcliocwkl {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 680px;
}
.item_lsjcliocwkl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item_lsjcliocwkl span {
    flex: 1;
    color: #183b56;
    font-family: "Hanken Grotesk";
    /* font-size: 24.531px; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    font-size: 24px;
}

.item_lsjcliocwkl svg {
    width: 21px;
}

.user_login {
    position: relative;
}

.free_lkslk {
    position: absolute;
    top: -35px;
    right: -50px;
    background-color: #fff;
    color: #faad13;
    border-radius: 36.4px;
    padding: 14.6px 26.6px;
    border-top-left-radius: 24.6px;
    border-bottom-left-radius: 0;
    text-align: center;
    font-family: "Hanken Grotesk";
    font-size: 29.455px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
